
/**
 * -----------------------------------------------
 * Wireframes custom styles
 * -----------------------------------------------
 *
 * These are the custom styles for Wireframes.
 *
 */


/**
 * =Body -- Set body attributes 
 */


body {
  color: #000;
}

a,
a:hover,
a:active {
  color: #000; 
}

a:visited {
  color: #666;
}

h1,
h2,
h3,
h4,
h5 {
  color: #000;
}

/**
 * =Header -- Set header styling
 */

#branding {
  border-bottom: 1px solid #000000;
}

#logo {
  padding: 20px; 
}

.search-wrapper {
  display: none; 
}

/*
 * =Navigation -- Style the navigation
 */

#navigation {
  text-align: left;
  border-bottom: 1px solid #000;
}

ul.global-navigation li {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  padding: 5px;
  display: inline;
}

#div_column_left { 
  clear: left;
  float: left;
}

#div_column_center {
  border-bottom: 1px solid #000;
  border-left: 1px solid black;
}

.breadcrumb,
.breadcrumb a { 
  border: none;
  display: inline;
}

.breadcrumb-container {
  padding: 20px;
  border-bottom: 1px solid #000;
}

/*
 * =Footer -- style notices and footer
 */

#notices {
  border-top: none !important;
  border-bottom: 1px solid #000;
}

#footer {
  padding-top: 7px;
}

#notices .global-navigation {
  padding: 20px;
}

/*
 * =Block styling
 */

.block {
  border-bottom: 1px solid #000000;
}


/*
 * =Misc
 */

.wireframe {
  border: 1px solid #000;
}

/*
 * =Turn things off
 */

.icon-print {
  display:none;
}
