


/**
 * -----------------------------------------------
 * CivicSpace module styles
 * -----------------------------------------------
 *
 * These are the module formatting styles for
 * CivicSpace. These modules have been included:
 * - Poll
 * - Tracker
 * - Event
 * - Aggregator
 * - Book
 * - Forum
 * - Search
 * - Watchdog
 *
 */
 
 

/**
 * =Poll
 */

.block .poll .title {
	font-weight:		            bold;
	font-size:		              1em;
	display:		                block;
	padding-bottom:		          10px;
}
.poll .bar {
  height:		                  1em;
  margin:		                  1px 0;
  background-color:		        #ddd;
}
.poll .bar .foreground {
  background-color:		        #000;
  height:		                  1em;
  clear:		                  left;
  float:		                  left;
}
.poll .percent {
  text-align:		              right;
}
.poll .links, .poll .total, .poll .vote-form {
  text-align:		              center;
}
.poll .vote-form .choices {
  text-align:		              left;
  margin:		                  0 auto;
  display:		                table;
}


/**
 * =Blog
 */

div.block-content div.item-list ul  {
	padding: 		                5px 0px 0px 15px;
	list-style-image:	          url(images/menu_leaf.png);	
}
div.more-link a, div.block-content div.item-list ul li a {
	color:		                  #36C;
	text-decoration:		        none;
}
div.more-link a:hover, div.block-content div.item-list ul li a:hover {
	text-decoration:		        underline;
}


/**
 * =Tracker
 */



/**
 * =Event
 */

.sidebar .event-calendar th.heading, .sidebar .event-calendar th, .sidebar .calendar th, .sidebar .calendar .header-month {
}
.sidebar .event-calendar th, .sidebar .calendar th, .sidebar .event-calendar td, .sidebar .calendar td, #event .event-calendar .event .teaser {
  font-size:		              0.8em;
}
.sidebar .event-calendar table, .sidebar .calendar table {
  border:		                  1px solid #BDCEE1;
  border-collapse:		        collapse;
  border-spacing:		          0;
  background-color:		        #BDCEE1;
  width:		                  100%;
  margin-bottom:		          0;
}
.sidebar .event-calendar tr, .sidebar .calendar tr {
  padding:		                0;
  margin:		                  0;
  background:		              transparent;
}
.sidebar .event-calendar th, .sidebar .calendar th, .sidebar .calendar td.header-month {
  background-color:		        transparent;
  background:	                url(images/calendar_sq_bg.png) top left no-repeat;
  text-align:	                center;
  border:		                  1px solid #BDCEE1;
  color:		                  #C30;
  padding:		                0px;
}
.sidebar .event-calendar th.heading, .sidebar .event-calendar th.prev, .sidebar .event-calendar th.next, .sidebar .calendar th.header-month, .sidebar .calendar td.header-month {
  border-width:		            1px 0;
  background-image:		        none;
  background-color:		        #BDCEE1;
}
.sidebar .event-calendar th.prev {
  text-align:		              left;
}
.sidebar .event-calendar th.next {
  text-align:		              right;
}
.sidebar .event-calendar th, .sidebar .calendar .header-month a, .sidebar .calendar .header-month {
  font-weight:		            bold;
  color:		                  #C30;
}
.sidebar .event-calendar th a {
  display:		                block;
}
.sidebar .calendar .header-month a {
  display:		                inline;
}
.sidebar .calendar .header-week td {
  border:		                  none;
  padding:		                0px;
}
.sidebar .event-calendar td, .sidebar .calendar .row-week td {
  border:		                  1px solid #BDCEE1;
  color:		                  #727664;
  text-align:		              center;
  vertical-align:	            middle;
  margin:		                  0;
  padding:		                0px;
  background:		              url(images/calendar_sq_bg.png) top left no-repeat;
}
.sidebar .calendar td div {
  margin:		                  0;
  padding:		                0;
}
.sidebar .calendar .row-week td.day-selected {
  background-color:		        transparent;
  background:		              url(images/calendar_sq_selected.png) top left repeat;
}
.sidebar .calendar .row-week td.day-blank {
  background-color:		        transparent;
  background-image:		        none;
}
.sidebar .event-calendar td a, .sidebar .calendar .row-week td a {
  font-weight:		            bold;
  text-decoration:	          none;
  display:		                block;
  margin:		                  0;
  padding:		                0;
}
.sidebar .event-calendar td a:hover, .sidebar .calendar .row-week td a:hover { 
  color:		                  #c30;
  background-color:	          transparent;
  text-decoration:	          underline; 
}
.sidebar .event-calendar td.sat, .sidebar .event-calendar td.sun {
  background:		              url(images/calendar_sq_weekend.png) top left no-repeat;
}
.sidebar .event-calendar td.today, .sidebar .calendar td.day-today {
  color:		                  #fff;
  background:                 #c30 url(images/calendar_sq_today_corner.png) bottom right no-repeat;
}
.sidebar .event-calendar td.today a, .sidebar .calendar td.day-today a {
  color:		                  #fff;
  text-decoration:		        none;
  display:		                block;
}
.sidebar .event-calendar td.today a:hover, .sidebar .calendar td.day-today a:hover {
  color:		                  #fff;
  background-color:		        transparent;
  text-decoration:		        underline;  
}
.sidebar .event-calendar td.selected, .sidebar .calendar .day-selected {
  background:		              url(images/calendar_sq_selected.png) top left repeat;
}
.sidebar .event-calendar td.days, calendar td.day-normal, .sidebar .calendar .header-week {
  color:		                  #798786;
  font-weight:		            normal;
  background:		              #fff;
  text-align:		              center;
  padding:		                0px;
}
.sidebar .event-calendar div.event {
  text-align:		              left;
  margin:		                 0;
}
.sidebar .event-calendar td.days, .sidebar .calendar td.header-month {
  border:		                  none;
}
.sidebar .event-calendar div.day {
  float:		                  right;
  text-align:		              center;
  padding:		                0;
  margin:		                  0;
  border:		                  none;
  background:		              #f3f3f3;
}
.sidebar .event-calendar div.event span {
  display:		                block;
  color:		                  #000;
  padding:		                0;
  margin:		                  0;
}
.sidebar .event-calendar div.event span.title a {
  font-weight:		            normal;
  font-size:		              0.8em;
  color:		                  #000;
}
.sidebar .event-calendar div.event span.time {
  font-weight:		            bold;
}
.sidebar .event-calendar div.event span.location {
  font-style:		              italic;
  color:		                  #555;
}
.time {
  padding:		                0px;
}

.event-calendar td.days  {
  color: 			#fff !important;
  background-color: 		#1977AC !important;
}

#content table th {
  background-image: none !important;
  background-color: #BDCEE1 !important;
}

/* Set background colors for sat and sun to match */
.main-content .event-calendar .month-view tr.alt td.sat  { 
  background: 			#FFDDDD !important; 
}
.main-content .event-calendar .month-view tr.alt td.sun  { 
  background: 			#FFDDDD !important; 
}


/** Sidebar **/

.block-content .calendar table {
  width:                      auto;
}

/**
 * =Aggregator
 */



/**
 * =Book
 */



/**
 * =Forum
 */

#forum table {
  border-collapse:            collapse;

}
#forum table th {
  white-space:                nowrap;
}
#forum table td.topics, #forum table td.posts, #forum table td.last-reply, #forum table td.replies, #forum table td.created {
  text-align:                 center;
  background-color:           #ffe;
  border-left:                1px solid #aeaeae;
}
#forum .name {
  margin-bottom:              2px;
  font-weight:                bold;
}
#forum .description {
  font-size:                  1.0em;
  line-height:                1.4em;
  border:                     0;
  margin:                     2px 0 0;
}


/**
 * =User Login
 */

div.user-login-block {
	padding:                    10px;
}
div.user-login-block .label-username {
	display:                    block;
}

/**
 * =Search
 */

/**
 * =Watchdog
 */
