
/**
 * -----------------------------------------------
 * Federation layout styles
 * -----------------------------------------------
 *
 * These are the layout styles for Federation.
 *
 */


/**
 * =Body -- Set body width
 */

body {
}

#wrapper {
  width: 80% !important;
  margin-left: auto;
  margin-right: auto;
}

.two-column {
}

/**
 * =Left Column -- push column up.
 */

#div_column_left {
}

/**
 * =Menu -- Set up the left side area width
 */

.container-left {
}

.two-column .outer {
}

.two-column .left {
}

/**
 * =Navigation -- we need to declare menu width
 */

#navigation {
}

#global-primary {
  text-align: center !important;
}

#global-secondary {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#global-primary li a {
}


/**
 * =Footer -- right align footer text
 */

#footer {
  text-align: right;
}
