
/**
 * -----------------------------------------------
 * Declaration layout styles
 * -----------------------------------------------
 *
 * These are the layout styles for Declaration.
 *
 */


/**
 * =Body -- Set body width
 */

body {
  text-align: center;
}

#page {
  position: relative;
  margin: 20px auto 0;
  width: 600px;
  text-align: left;
}

/**
 * =Search
 */

#header-search { 
  position: absolute;
  top: 16px;
  right: 20px;
}


#wrapper {
}

.two-column {
}

/**
 * =Left Column -- push column up.
 */

#div_column_left {
}

/**
 * =Menu -- Set up the left side area width
 */

.container-left {
}

.two-column .outer {
}

.two-column .left {
}

/**
 * =Navigation -- we need to declare menu width
 */

#navigation {
}

#global-primary {
}

#global-secondary {
}

#global-primary li a {
}


/**
 * =Footer -- right align footer text
 */

#footer {
}
