
/**
 * -----------------------------------------------
 * CivicSpace utility styles
 * -----------------------------------------------
 *
 * This stylesheet provides basic, generic styles
 * that can be used in all CivicSpace themes.
 * 
 * Many classes have two names to make them easier
 * to remember.
 *
 */

acronym, abbr, span.caps {
  cursor:                     help;
}
acronym, abbr {
  text-decoration:            none;
  border-bottom:              1px dashed #999;
}
em {
	font-style:                 italic;
}
strong {
	font-weight:                bold;
}
q {
  font-style:                 italic;
}
code, kbd, xmp, pre {
  font-family:                "Bitstream Vera Sans Mono", "Courier New", courier, monospace;
  background:                 inherit;
}
del, strike {
  color:                      #999;
  text-decoration:            line-through;  
}
ins {
	text-decoration:            none;
	font-style:                 italic;
}
img, a img { 
  border:                     0; 
}

/**  Work around IE/Win code size bug - courtesy Jesper, waffle.wootest.net  **/

* html code {
  font-size :                 105%; 
}

/** Colors **/
.highlight {
  background-color:           #ffc;
}
.update {
  border:                     1px solid #ee7;
  padding:                    5px;
  background-color:           #ffe;
}
#fade {
  background-color:           #ff9;
}


/** alignment **/

.centered {
  text-align:                 center;
}
.alignright, .rfloat {
  float:                      right;
}
.alignleft, .lfloat {
  float:                      left
}
img.center, img.centered {
  display:                    block;
  margin-left:                auto;
  margin-right:               auto;
}
img.alignright, img.alignleft {
  padding:                    4px;
  display:                    inline;
}
img.alignright {
  margin:                     0 0 2px 7px;
}
img.alignleft {
  margin:                     0 7px 2px 0;
}

/** hack tools & tricks **/
.container-inline, .container-inline div {
  display:                    inline;
}
.container-inline .form-submit {
  margin: 0;
}
.alt-text {
  display: none;
}
.text-replacement {
  text-indent:                -9999em;  
  text-decoration:            none !important;  
}
.hide, .print-only {
  overflow:                   hidden;
  visibility:                 hidden;
  display:                    none;
  clear:                      none;  
}
.clearing {
  height:                     0;
  clear:                      both;
  display:                    block;
  visibility:                 hidden;
}  
