
/**
 * -----------------------------------------------
 * Republica layout styles
 * -----------------------------------------------
 *
 * These are the layout styles for Republica.
 *
 */


/**
 * =Body -- Set body width
 */

#page {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

/**
 * =Search
 */

#header-search {
  text-align: right;
  position: absolute;
  top: 26px;
  right: 50px;
}

.two-column {
}

/**
 * =Left Column -- push column up.
 */

#div_column_left {
}

/**
 * =Menu -- Set up the left side area width
 */

.container-left {
}

.two-column .outer {
}

.two-column .left {
}

/**
 * =Navigation -- we need to declare menu width
 */

#navigation {
}

#global-primary {
}

#global-primary li a {
}

/**
 * =Search -- set search up in the right place.
 */


/**
 * =Footer -- right align footer text
 */

#footer {
  text-align: right;
}
