
/**
 * -----------------------------------------------
 * Columbus layout styles
 * -----------------------------------------------
 *
 * These are the layout styles for Columbus.
 *
 */


/**
 * =Body -- Set body width
 */

body {
  text-align: left;
}

#page {
  position: relative;
  width: 685px;
  text-align: left;
}

