
/**
 * -----------------------------------------------
 * Democratica layout styles
 * -----------------------------------------------
 *
 * These are the layout styles for Democratica.
 *
 */

/**
 * =Body Margins & Padding
 */

* {
  zoom:                         1; /* IE peekaboo fix */
}
html, body { 
  margin:                       0; 
  padding:                      0; 
}                            
body {                        
  margin-bottom:                40px; 
  padding-bottom:               40px; 
  text-align:                   center; 
  min-width:                    740px
}

#wrapper {
  clear:                        both;
  margin-left:                  auto;
  margin-right:                 auto;
  min-height:                   100%; 
  width:                        100%;
}

/**
 * =Notices
 */

#notices {
  position:                     relative;     
  width:                        auto; 
  height:                       2.5em;
  text-align:                   left; 
  margin-top:                   0;
  margin-bottom:                1.0em;
  margin-left:                  auto; 
  margin-right:                 auto; 
  padding:                      0.5em 8px 0.2em;
  border-top:                   1px solid #447799; 
  clear:                        both;
}


/**
 * =Hacks & global layout styles
 */

/* Prevents long urls from breaking layout in IE */
.outer, .main-content {
  word-wrap:                    break-word;
}
.outer {
  margin-top:                   0;
  min-height:                   100%;
}
/* \*/
* html .outer a, * html .container-left, * html .container-right {
  height:                       1%;
}
/* */

/* \*/
* html .outer p {
  margin-right:                 -4px;
}
/* */

.left {
  margin-right:                 -1px;
}
/*** Margin fixes for IE5/win ***/
.right {
  margin-left:                  -1px;
}
.left, .right {
  text-align:                   left;
}
/*** This element clears the cols without bugs in Gecko ***/
hr {
  display:block; 
  margin:                       0; 
  height:                       0; 
  font-size:                    0; 
  line-height:                  0; 
  visibility:                   hidden; 
  clear:                        both;
} 
.center, .container-left, .container-right {
  overflow:                     visible;
}


/**
 * -----------------------------------------------
 * Column layout styles
 * -----------------------------------------------
 *
 * With props to Big John of P.I.E.
 * http://www.positioniseverything.net
 *
 */


/**
 * =Columns
 */

body.admin .outer {
  margin-left:                  225px;    /*** Critical left col width value ***/
  margin-right:                 0;    /*** Critical right col width value ***/
}  
/* \*/
* html body.admin .outer {
  height:                       100%;
}
/* */

body.admin .float-wrap {
  float:                        left;
  width:                        100%;
  margin:                       0 -1px 0 0;
}
body.admin .center {
  float:                        right;
  width:                        100%;
  position:                     relative; /* Needed for IE/win */
  padding-top:                  0;
  text-align:                   left;
}
body.admin .left {
  float:                        left;
  position:                     relative; /* Needed for IE/win */
  width:                        224px;    /*** Critical left col width value ***/ /*** Critical left divider dimension value ***/
  margin-left:                  -225px;    /*** Critical left col width value ***/ /*** Critical left divider dimension value ***/
}
/* \*/
* html body.admin .left {
  margin-right:                 -2px;
}
/* */

body.admin .right {
  display:                      none;
}
body.admin .main-content {
  margin:                       0 1.0em;
  padding:                      0.2em 1.2em 1.0em;
  border:                       2px solid #a4a4a4;
  border-left:                  none;
  border-top:                   none;
  width:                        94%;
  background-color:             #fff;
}
body.admin #content {
  padding:                      0 !important;
  background-color:             transparent !important;
}

