
/**
 * -----------------------------------------------
 * Civicspace admin visual styles
 * -----------------------------------------------
 *
 */


body {
  font-size:                  76%;
  background:                 #fff url( ../global/images/bg_admin.png );
}


/**
* -----------------------------------------------
 * =Typography
 * -----------------------------------------------
 */

/** Typefaces **/

body, td {
  font-family:                verdana, 'vera sans', sans-serif;
}

pre, tt, code, .form-password, .form-text, textarea {
  font-family:                'andale mono', 'Bitstream Vera Sans Mono', 'Courier New', Monaco, monospace;
}

#branding {
  font-family:                helvetica, arial, sans-serif;
}



/**
 * =Admin header
 */

#admin-header {
  background-color:           #efefef;
  border-bottom:              2px solid #dedede;
  text-align:                 left;
  padding:                    5px;
  margin-bottom:              2.0em;
  width:                      100%;
}

/* fix horizontal scrollbar in Firefox */
html>body #admin-header { width: auto; }

#admin-header a {
  color:                      #3579B2;
  text-decoration:            none;
}
#admin-header a:hover {
  text-decoration:            underline;
}
#site-name {
  float:                      left;
  color:                      #333;
  margin:                     0;
  padding:                    0;
  font-size:                  1.1em;
  clear:                      none;
}
#site-name span {
  margin-left:                0.5em;
  font-size:                  0.8em !important;
  font-weight:                normal;
}
#admin-help {
  clear:                      none;
  padding:                    0.2em 0 0;
  margin:                     0 0.5em 0 0;
  font-size:                  0.9em;
  float:                      right;
}

/* reset values for FF, because IE does not play fair */
html>body #admin-help {
  width: 40%;
}

#admin-help ul, #admin-help li {
  list-style:                 none;
  padding:                    0;
  margin:                     0;
}
#admin-help li {
  float:                      right;
}
#admin-help li a {
  border-right:               1px solid #999;
  padding:                    0 0.7em;
}
#admin-help li.first a {
  border-right:               none;  
}


/**
 * =Forms
 */

form, fieldset {
  margin-bottom:              0.8em;
}
fieldset {
  margin:                     0.4em 0 0.8em;
  padding:                    6px 16px 8px;
  border-color:               #888;
  border-width:               1px;
  border-collapse:            collapse;
}
legend {
  font-weight:                bold !important;
  font-size:                  11px;
  background-color:           #fff;
  _margin:                     1.0em 0 1.0em -0.5em;
  color:                      #787878;
}
.form-item {
  margin-bottom:              1.0em;
}
input.form-text, input.form-password, textarea {
  font-size:                  12px;
  padding:                    2px;
}
input.form-text:focus, textarea:focus {
	background-color:           #fffff6;
}
/** Node admin filter **/
#node-admin-filter ul {
  padding:                    0;
  margin:                     0;
  width:                      100%;
}
#node-admin-buttons {
  float:                      left;
  margin-left:                0.5em;
  clear:                      right;
}
dl.multiselect dd.b, dl.multiselect dd.b .form-item, dl.multiselect dd.b select {
  font-family:                inherit;
  font-size:                  inherit;
  width:                      14em;
}
dl.multiselect dd.a, dl.multiselect dd.a .form-item {
  width:                      8em;
}
dl.multiselect dt, dl.multiselect dd {
  float:                      left;
  line-height:                1.75em;
  padding:                    0;
  margin:                     0 1em 0 0;
}
dl.multiselect .form-item {
  height:                     1.75em;
  margin:                     0;
}
/** Labels **/
label:hover, .form-item label {
  cursor:                     pointer;
  padding:                    2px 0;
}
label:hover {
  background-color:           #ffc;
}
/** Block level labels hack **/
.label-access-type, .label-rule-type, .label-preview-post, .label-configurable-time-zones, .label-download-method, .label-cache-support, .label-clean-urls, .label-category-selection-type {
  display:                    block;
}
#main input.form-text, #content textarea {
  width:                      98%;
}
#main td .form-item input.form-text {
  width:                      92% !important;
}
.node-form .standard {
  clear:                      both;
}
.marker, .form-required {
  color:                      #f00;
}

/** Admin fieldsets **/

.node-form .admin label {
  font-size:                  0.9em;
  line-height:                1.0em;
  margin-bottom:              4px;
}
.node-form .admin .authored .form-item, .node-form .admin .authored, .node-form .admin .options, .node-form .admin .extra {
  margin-bottom:              0.8em;
}
.node-form .admin .authored .form-text  {
  width:                      auto;
}
.node-form .admin .authored, .node-form .admin .options, .node-form .admin .extra {
  float:                      left;
  margin-right:               1.4em;
}
.node-form fieldset {
/*  display:                    inline; *//* kills conqueror */
}
.node-form .attachments fieldset {
  float:                      none;
  display:                    block;
}

/** Block admin page **/

table#blocks td.region, table#permissions td.module {
  font-weight:                bold;
  padding-left:               0.5em;  
  vertical-align:             middle;
}
table#blocks td.block, table#permissions td.permission {
  padding-left:               1.5em;  
}
table#permissions .form-item {
  text-align:                 center;
  margin:                     0;
}


body.page-admin .form-item {
  display:                    inline; /* fix for watchdog filter form */
}
/** Filter Table **/

body.admin-filters td .form-item {
  text-align:                 center;
}


/**
 * =Tables
 */

#content .table-wrapper {
  padding:                    0;
  margin:                     6px 0 12px;
}
#content table {
  border:                     1px solid #a9a9a9;
  width:                      98%;
  border-collapse:            collapse;
  background-color:           #f2f2f2;
  padding:                    0;
  margin:                     0;
}


/**
 * =Table Headers
 */

#content table th {
  background:                 #e9e9e9 url(../global/images/bg_table_head.png) repeat-x left bottom; 
  border-bottom:              1px solid #333;
  padding:                    4px 10px 6px;
  vertical-align:             middle;
  line-height:                1em;
  margin:                     0;
  border:                     0;
  text-align:                 center;
  color:                      #555;
}
#content th.active img {
  display:                    inline;
}
#content table th, #content table td {
  font-size:                  0.9em;
}
#content table th a {
  text-decoration:            none;
  color:                      #333;
}
#content table th img {
  vertical-align:             middle;
  line-height:                1em;
}
#content th.active {
  background:                 #e9e9e9 url(../global/images/bg_table_head_active.png) repeat-x left bottom; 
}
#content table th a:hover {
  text-decoration:            underline;
}
#content table th a:hover img {
  text-decoration:            none !important;
}
body.admin-logs-event #content table th {
  text-align:                 left;
  padding:                    4px 6px;
}


/**
 * =Table Cells
 */

#content table td {
  color:                      #333;
  padding:                    4px 4px 6px;
  border-top:                 1px solid #dbe3eb;
  line-height:                1.1em;
  vertical-align:             top;
}
#content td.active {
  background-color:           #f0f0f0;
  border-top:                 1px solid #CFD6DE;  
}
#content tr.alt td.active {
  background-color:           #f3f3f3;
  border-top:                 1px solid #CFD6DE;  
}
#content table tr td {
  border-right-color:         #fff;
}


/**
 * =Alternating Rows
 */

#content table tr.alt td {
  background-color:           #fafafa;
}
#content table tr.alt td {
  border-right-color:         #fff;
}


/**
 * =Blocks
 */

/** Regular block content **/

div.block h2 {
  font-size:                  1.0em;
  font-family:                Helvetica, Arial, sans-serif;
  padding:                    0 0 5px 0;
  margin:                     1.0em 0 0 0 ;
  color:                      #3579B2;
}
/* This breaks IE(mac) and Safari */
/* Turn off all blocks */
/*
.sidebar .block {
  display:                    none; }
*/

.sidebar .block-user {
  display:                    block !important; /* Turn menus back on *//
}
div.block {
  margin-left:                0;
  padding:                    0.2em 0.7em;
  margin-bottom:              1.2em;
  background-color:           #fff;
  border:                     2px solid #a4a4a4;
  border-left:                none;
  border-top:                 none;
}
div.block .block-content h2, div.block .block-content h3, div.block .block-content h4, div.block .block-content h5 {
  font-size:                  1.0em;
  margin:                     0.2em 0 0;
}
div.block .block-content h2 {
  font-size:                  1.0em
}
div.block .block-content {
  font-size:                  0.9em !important;
  margin-bottom:              0.8em;
  overflow:                   hidden;
}
div.block ul {
  margin:                     0 0 0 3px;
  padding-left:               12px;
}
div.block ul li, div.block .block-content ol li {
  margin:                     0;
  padding:                    0;
  padding-left:               3px;
}
.sidebar input.form-text, .sidebar input.form-password {
  width:                      125px !important;
}
.block-content .icon-feed {
  text-align:                 center;
  padding:                    1.0em 0 0;
}

/** =Both **/

.container-left, .container-right {
  padding:                    0 8px;
}


/**
 * =Menus
 */

.block .menu {
  padding:                    0 0 0 6px;
  line-height:                1.2em;
  margin:                     0 0 1.0em;
}
.block .menu, .block .menu ul {
  margin:                     0;
  list-style:                 none;
}
.block .menu ul {
  padding:                    3px 0 !important;
  border-left:                1px solid #D0D9D9;
  border-bottom:              1px solid #D0D9D9;
}
.block .menu li {
  display:                    block;
  padding:                    3px 0 3px 10px !important;
  margin:                     0 !important;
}
.block .menu li.expanded, .block .menu li.leaf, .block .menu li.collapsed {
  list-style-type:            none;
  list-style-image:           none;
  background-position:        5px 6px;
  background-repeat:          no-repeat;
}
.block .menu li.expanded {
  background-image:           url(../global/images/menu_expanded.png);
}
.block .menu li.leaf {
  background-image:           url(../global/images/menu_leaf.png);
  background-position:        10px 7px;
}
.block .menu li.collapsed {
  background-image:           url(../global/images/menu_collapsed.png);
}
.block .menu li a {                  
  color:                      rgb(51, 102, 204);
  display:                    block;
  padding:                    0;
  padding-left:               10px;
  margin:                     0;
  display:                    block;
  text-decoration:            none;
}                             
.block .menu li a.active {           
  font-weight:                bold;
}                             
.block .menu li a:hover {            
  text-decoration:            underline;
}


/**
 * =Content
 */

#content {
  color:                      #333;
  background-color:           #fff;
}

/** Page title **/

h1.page-title {
  color:                      rgb(194, 5, 8);
  font:                       2.2em Arial, Helvetica, sans-serif;
  margin:                     0 0 14px;
  line-height:                1.0em;
  border-bottom:              1px solid #BE0101;
}
h1.page-title-withtabs {
  margin-bottom:              0.2em;
}

div.node {
  margin-bottom:              2.0em;
}

/** Node header **/

div.header .title {
  font:                       1.5em Arial, Helvetica, sans-serif;
  font-weight:                bold;
  line-height:                1.0em;
  margin:                     0.25em 0 6px;
  padding:                    0 0 2px 0;
  border-bottom:              1px solid #3579B2;
}
div.header .title, div.header .title a, div.header .title a:link {
  color:                      rgb(6, 82, 133);
  text-decoration:            none;
}
div.header .title a:hover {
  color:                      rgb(194, 5, 8);
  text-decoration:            underline;
}
.meta {
  margin-bottom:              16px;
  color:                      rgb(151, 151, 151);
}
.meta a {
  color:                      #444;
  text-decoration:            none;
}
.meta a:hover {
  text-decoration: underline;
}

/** Node Content **/

.content h2 {
  font-size:                  1.3em;
}
.content h3 {
  font-size:                  1.1em;
}
.content h3, .content h4, .content h5 {
  margin-bottom:              0.2em;
}

.read-more {
  text-align:                 right;
  font-style:                 italic;
}
.read-more a {
  text-decoration:            none;
}

/** Node Footer **/

div.footer {
  color:                      rgb(151, 151, 151);
  border-top:                 1px dotted rgb(151, 151, 151);
  padding-top:                4px;
  margin:                     1.0em 0 1.2em;
  font-size:                  0.8em;
  text-align:                 right;
}
div.footer a:link {
  padding:                    2px;
  color:                      rgb(190, 115, 77);
  font-weight:                normal;
}
div.footer a:hover {
  color:                      #fff;
  background-color:           rgb(153, 51, 51);
}


/**
 * =Pager
 */

#pager {
  text-align:                 center;
}
#pager a {
  text-decoration:            none;
  display:                    inline;
  margin:                     0 0.4em;
}
#pager a:hover {
  text-decoration:            underline;
}
.pager-detail {
  display:                    inline;
  margin:                     0 1.4em;
}
.pager-record-count, .pager-total {
  font-weight:                bold;
}

/**
 * =Tabs
 * =Local Tasks
 */

#local-tasks {
  margin:                     1.0em 0 1.2em;
}

/** Primary **/

ul.primary {
  padding:                    0 0 0 14px;
  list-style:                 none;
  margin:                     0 5px;
  height:                     auto;
  line-height:                19px;
  border-bottom:              1px solid rgb(120, 120, 120);
}
ul.primary li {
  display:                    inline;
}
ul.primary li a {
  font-size:                  1.1em;
  font-family:                'lucida grande', arial, sans-serif;
  white-space:                nowrap;
  color:                      rgb(120, 120, 120) !important;
  line-height:                13px;
  text-decoration:            none;
  background-color:           #eee;
  border-color:               rgb(120, 120, 120);
  border-width:               1px;
  border-style:               solid solid none solid;
  margin:                     0 -5px 0 0;
  padding:                    4px 18px 2px;
  position:                   relative; /* Fixes IE border bug */
}
ul.primary li.active a {
  color:                      #121212 !important;
  background-color:           #fff;
  border:                     1px rgb(120, 120, 120) solid;
  border-bottom-style:        dotted;
  _border-bottom-style:        none;
}
ul.primary li.active a:hover {
  cursor:                     default;
}
ul.primary li a:active, ul.primary li.active a:hover {
  color:                      #121212;
  background-color:           #fff;
}
ul.primary li a:hover {
  color:                      #fff;
  background-color:           #585858;
  border-color:               #787878;
  border-bottom-color:        rgb(120, 120, 120);
}

/** Secondary **/

ul.secondary {
  font-size:                  0.9em;
  padding:                    1.0em 0 0 14px;
  margin:                     0;
  line-height:                2.5em;
}
ul.secondary li {
  margin:                     0;
  display:                    inline;
}
ul.secondary a {
  border:                     1px solid #ccc;
  line-height:                1.5em;
  padding:                    4px 7px;
  text-decoration:            none;
  margin-bottom:              4px;
  background:                 url(../global/images/bg_local_tasks_secondary.png) repeat-x 50% 0px;
}
ul.secondary a.active, ul.secondary a.active:hover {
  color:                      #333;
  font-weight:                bold;
  cursor:                     default;
  border:                     1px solid #fff;
  background-color:           #fff;
  background-image:           none;
}
ul.secondary a:hover, ul.secondary a:active {
  color:                      #f30;
  background-color:           #f7f7f7;
  border:                     1px solid #999;
}


/** Footer **/

#notices ul.global-navigation {
  font-size:                  0.9em;
  list-style:                 none;
  margin:                     4px 0 1em;
}
#notices ul.global-navigation li {
  margin-left:                1.2em;
  display:                    inline;
}
#notices ul.global-navigation li a {
  color:                      #666;
  text-decoration:            none;
}
#notices ul.global-navigation  a:hover {
  text-decoration:            underline;
  background-color:           transparent;
}
#notices ul.global-navigation li a.first {
  margin-left:                -1.2em;
}


/**
 * =Search
 */

#header-search {
  text-align:                 right; /* IE gets confused about what "absolute" means */
  position:                   absolute;
  right:                      8px;
  top:                        16px;
  line-height:                16px;
}
#header-search h2 {
  display:                    inline;
  font-size:                  11px;
  color:                      #fff;
  font-family:                'Lucida Grande', arial, sans-serif;
  padding-right:              8px;
}
#header-search label {
  padding:                    2px 0;
}
#header-search label:hover {
  background-color:           transparent;
  text-decoration: underline;
}
#header-search input {
  font-size:                  11px;
}

/**
 * =Block Elements
 */

h2 {
  font-size:                  1.2em;
  margin-bottom:              0.2em;
  color:                      #1ea4d9;
}
p {
  padding:                    0;
  margin:                     0 0 0.8em 0;
}                             
pre {
  padding:                    0;
  width:                      99%;
  overflow:                   auto;
}
blockquote {                  
  border:                     0 #ddd dashed;
  border-width:               1px 0;
  margin:                     0.5em 1.0em;
  padding:                    0.5em 0.3em;
}
img.screenshot {
  border:                     1px solid #565656;
  display:                    block;
  margin:                     2px;
}


/**
 * =Messages
 */

.messages {
  font-size:                  1.0em;
  line-height:                1.5em;
  color:                      #4c4c4c;
  margin-bottom:              1.0em;
}
.messages ul {
  margin:                     0;
  padding:                    0;
}
.messages ul li {
  list-style:                 none;
  margin:                     0;
  padding:                    3px 1px 3px 20px;
  background:                 url(../global/images/icon_bullet_gray.png) no-repeat 4px 5px;
}
.messages .item-list, .item-list h3 {
  margin-top:                 0;
}
form .messages  {
  background-image:           none; 
}


/**
 * =Status
 */

.messages .status {
  background:                 url(../global/images/bg_status.png) repeat;
  margin:                     0.8em 0;
  padding:                    12px;
  font-weight:                bold;
  border:                     2px solid #E1F2D8;
}  
.messages .status img.icon-status {
  float:                      left;
}
.messages .status .content {
  margin-left:                24px;
}


/**
 * =Description
 */

.description {
  font-size:                  0.9em;
  color:                      #555;
  font-variant:               italic;
  border-width:               1px 0;
  border-style:               dotted;
  border-color:               #999;
  margin:                     8px 0 16px;
  padding:                    4px 0;
}


/**
 * =Help
 */

#help { 
  cursor:                     help;
  background:                 url(../global/images/bg_help.png) repeat;
  border:                     2px solid #ffff9e;
  padding:                    16px 24px 14px 16px;
  margin:                     0 0 1.2em;
  line-height:                1.5em;
}
#help img {
  float:                      left;
}
#help .content {
  margin-left:                24px;
}
#help .more-help-link {
  text-align:                 right;
}
#help a, #help a:visited {
  text-decoration:            none;
  color:                      #f00;
  padding:                    1px;
}
#help a:hover {
  color:                      #fff;
  background-color:           #f00;
}
.help-toggle {
  font-size:                  0.9em;
  text-align:                 right;
/*  margin:                     -10px 4px 4px; */
  margin:                     0 4px 4px;
  line-height:                0.9em;
}
.help-toggle img {
  vertical-align:             middle;
  padding:                    1px;
}
.help-toggle a.toggle-link {
  cursor:                     help;
}


/**
 * =Error
 */

.messages .error {
  background:                 url(../global/images/bg_error.png);
  margin:                     0.8em 0;
  padding:                    12px;
  font-weight:                bold;
}
.messages .error a, .messages .errora:visited {
  text-decoration:            none;
  color:                      #BE0101;
  padding:                    1px;
}
.messages .error a:hover {
  color:                      #fff;
  background-color:           #d34340;
}
.messages .error img.icon-error {
  float:                      left;
}
.messages .error .content {
  margin-left:                24px;
}
.messages .error, .form-item input.error {
  border:                     2px solid #BE0101;
}
.form-item input.error {
  background-image:           none;
}    


/**
 * =Icons
 */

.icon {                       
  background-repeat:          no-repeat;
  background-position:        0% 50%; 
  padding:                    5px 0;
  padding-left:               20px; 
}
.icon-comment {
  background-image:           url(../global/images/icon_comment.png);
}
.toggle-button img {
  width:                      10px;
  height:                     10px;
}

/**
 * =Inline Elements
 */

q {
  quotes:                     "\201C" "\201D" "\2018" "\2019";
}
q:before {
  content:                    open-quote;
}
q:after {
  content:                    close-quote;
}
abbr[title], acronym[title] {
	border-bottom:              1px dotted #666;
	cursor:                     help;
	font-style:                 italic;
}
small {
  font-size:                  10px;
}
.ok {
  color:                      #080;
}
.path {
  padding-bottom:             0.7em;
  font-size:                  1.1em;
}


/**
 * =Links
 */

a {
  text-decoration:            underline; 
  padding:                    1px; 
}
a:link { 
  color:                      #065285; 
}
a:visited { 
  color:                      #10598A; 
}
a:hover { 
  color:                      #C20508; 
  text-decoration:            none;
}
a.toggle-link, a.toggle-link:visited {
  text-decoration:            none;
  color:                      #f00;
}
a.toggle-link:hover {
  color:                      #fff;
  background-color:           #f00;
}
.links .read-more {
  font-style:                 italic;
}
.cancel-link {
  margin-left:                8px;
  font-family:                verdana;
  font-size:                  11px; /* I rarely use pixel sizes, but this should be consistent */
}
.cancel-link a, .cancel-link a:visited {
  color:                      #f00;
  padding:                    1px;
}
.cancel-link a:hover {
  color:                      #fff;
  background-color:           #f00;
}
.more-link {
  text-align:                 right;
}


/**
 * =Profile
 */

.profile .picture {
  float:                      right;
  margin:                     0 0 7px 7px;
}
.profile .form-item {
  margin-bottom:              0.8em;
}
body.user-track .replies {
  text-align:                 center;
}

/**
 * =Breadcrumbs
 */
.breadcrumb-container {
  clear:                      both;
  text-align:                 left;
  padding:                    0 0 12px;
  font-size:                  0.9em;
  margin:                     0;  
}
div.breadcrumb {
  display:                    inline;
}
.breadcrumb a {
  text-decoration:            underline;
}
.breadcrumb a:link {
  color:                      rgb(51, 85, 136);
}
.breadcrumb a:visited {
  color:                      rgb(102, 119, 119);
}
.breadcrumb a:hover {
  background-color:           rgb(153, 51, 51);
  color:                      #fff;
}


