
/**
 * -----------------------------------------------
 * Democratica base styles
 * -----------------------------------------------
 *
 * These are the primary formatting styles for
 * Democratica.
 *
 */

/**
 * -----------------------------------------------
 * Color Scheme
 * -----------------------------------------------
 *
 * Blue: rgb(51, 102, 204)
 * 
 *
 */




body {
  font-size:                  76%;
  background:                 #fff;
}


/**
* -----------------------------------------------
 * =Typography
 * -----------------------------------------------
 */

/** Typefaces **/

body, td {
  font-family:                verdana, 'vera sans', sans-serif;
}

pre, tt, code, .form-password, .form-text, textarea {
  font-family:                'andale mono', 'Bitstream Vera Sans Mono', 'Courier New', Monaco, monospace;
}

#branding {
  font-family:                helvetica, arial, sans-serif;
}


/**
 * =Forms
 */

form, fieldset {
  margin-bottom:              0.8em;
}
fieldset {
  margin:                     1.8em 0 0.8em;
  padding:                    6px 16px 8px;
  border-color:               #888;
  border-width:               1px;
  border-collapse:            collapse;
}
legend {
  font-weight:                bold !important;
  font-size:                  11px;
  margin-left:                -2px;
  color:                      #787878;
}
.form-item {
  margin-bottom:              1.0em;
}
input.form-text, input.form-password, textarea {
  font-size:                  12px;
  padding:                    2px;
}
input.form-text:focus, textarea:focus {
	background-color:           #fffff6;
}
label:hover, .form-item label {
  cursor:                     pointer;
  padding:                    2px 0;
}
label:hover {
  background-color:           #ffc;
}
.label-configurable-time-zones, .label-download-method, .label-cache-support, .label-clean-urls, .label-category-selection-type {
  display:                    block;
}
#main input.form-text, #content textarea {
  width:                      98%;
}
#main td .form-item input.form-text {
  width:                      92% !important;
}
.node-form .standard {
  clear:                      both;
}
.marker, .form-required {
  color:                      #f00;
}

/** Admin fieldsets **/

.node-form .admin label {
  font-size:                  0.9em;
  line-height:                1.0em;
  margin-bottom:              4px;
}
.node-form .admin .authored .form-item, .node-form .admin .authored, .node-form .admin .options, .node-form .admin .extra {
  margin-bottom:              0.8em;
}
.node-form .admin .authored .form-text  {
  width:                      auto;
}
.node-form .admin .authored, .node-form .admin .options, .node-form .admin .extra {
  float:                      left;
  margin-right:               1.4em;
}
.node-form fieldset {
  display:                    inline; /* kills conqueror */
}
.node-form .attachments fieldset {
  float:                      none;
  display:                    block;
}

/** Filter Table **/

body.admin-filters td .form-item {
  text-align:                 center;
}

/** User login block **/

.sidebar input.form-text#edit-name {
  width:                      120px;
}

/**
 * =Filter tips
 */

ul.tips {
  font-size:                  0.9em;
  line-height:                1.2em;
  margin-top:                 4px;
}
.form-item .tips {
  margin-left:                0;
}

/**
 * =Tables
 */

#content .table-wrapper {
  padding:                    0;
  margin:                     6px 0 12px;
/*  border-right:               1px solid #a9a9a9;
  border-bottom:               1px solid #a9a9a9;
  width:                      100%; 
  overflow:                   auto;*/
}
#content table {
  border:                     1px solid #a9a9a9;
  width:                      98%;
  border-collapse:            collapse;
  background-color:           #f2f2f2;
  padding:                    0;
  margin:                     0;
}


/**
 * =Table Headers
 */

#content table th {
  background:                 #e9e9e9 url(../../images/bg_table_head.png) repeat-x left bottom;
  border-bottom:              1px solid #333;
  padding:                    4px 10px 6px;
  vertical-align:             middle;
  line-height:                1em;
  margin:                     0;
  border:                     0;
  text-align:                 center;
  color:                      #555;
}
#content th.active img {
  display:                    inline;
}
#content table th, #content table td {
  font-size:                  0.9em;
}
#content table th a {
  text-decoration:            none;
  color:                      #333;
}
#content table th img {
  vertical-align:             middle;
  line-height:                1em;
}
#content th.active {
  background:                 #e9e9e9 url(../../images/bg_table_head_active.png) repeat-x left bottom;
}
#content table th a:hover {
  text-decoration:            underline;
}
#content table th a:hover img {
  text-decoration:            none !important;
}
body.admin-logs-event #content table th {
  text-align:                 left;
  padding:                    4px 6px;
}


/**
 * =Table Cells
 */

#content table td {
  color:                      #333;
  padding:                    4px 4px 6px;
  border-top:                 1px solid #dbe3eb;
  line-height:                1.1em;
  vertical-align:             top;
}
#content td.active {
  background-color:           #f0f0f0;
  border-top:                 1px solid #CFD6DE;  
}
#content tr.alt td.active {
  background-color:           #f3f3f3;
  border-top:                 1px solid #CFD6DE;  
}
#content table tr td {
  border-right-color:         #fff;
}


/**
 * =Alternating Rows
 */

#content table tr.alt td {
  background-color:           #fafafa;
}
#content table tr.alt td {
  border-right-color:         #fff;
}


/**
 * =Backgrounds
 */

body.three-column, body.two-column-right {
/*  background: #fff repeat-y right top url(../../images/bg_right.png);*/
}


/**
 * =Blocks
 */

/** Block admin page **/

table#blocks td.block {
  padding-left: 1.2em;  
}
table#blocks td.region {
  font-weight: bold;
  padding-left: 0.2em;  
}

/** Regular block content **/

.block h2 {
  font-size:                  1.0em;
  font-family:                Helvetica, Arial, sans-serif;
  padding:                    5px 0;
  margin:                     1.0em 0 0 0 ;
  color:                      #3579B2;
}
.block {
  margin-left:                0;
  padding:                    0;
  margin-bottom:              1.2em;
}
.block .block-content {
  font-size:                  0.9em;
}
.block .block-content h2, .block .block-content h3, .block .block-content h4, .block .block-content h5 {
  font-size:                  1.0em;
  margin:                     0.2em 0 0;
}
.block .block-content h2 {
  font-size:                  1.1em
}
.block ul {
  margin:                     0;
  padding-left:               13px;
}
.block ul li, .block .block-content ol li {
  margin:                     0 0 0 0;
  padding:                    0 0 0 3px;
}
.sidebar input.form-text, .sidebar input.form-password {
  width:                      125px !important;
}
.block-content .icon-feed {
  text-align:                 center;
  padding:                    1.0em 0 0;
}

/** =Both **/

.container-left, .container-right {
  padding:                    0 8px;
}

/** =Right **/


.right .block .block-header {
  margin-bottom:              1.0em;
}
.right .block h2 {
  color:                      #fff;
  background:                 url(../../images/bg_block_head.png) repeat-x top left;
  border-bottom:              1px solid #004D81;
  line-height:                1.0em;
  padding:                    0 3px;
  margin-bottom:              0.8em;
}
.right .block h2 span {
  display:                    block;
  padding:                    0.4em 4px 1px 14px;
  background:                 url(../../images/star.png) no-repeat 0px 50%;
}
.right .block-content {
  margin-top:                 -1.1em;
}
.right .block-user .block-content {
  margin-top:                 -0.9em;
}
.right .block-user .block-content .item-list, .right .block-user .block-content .item-list ul {
  list-style:                 none;
  margin:                     0;
  padding:                    0;
}
.right .block-user .block-content .item-list ul {
  border:                     1px solid #e7e7e7;
  border-bottom:              0;
}
.right .block-user .block-content .item-list ul li {
  line-height:                1.2em;
  padding:                    0;
  margin:                     0;
  border-bottom:              1px solid #dbe3eb;
}
.right .block-user .block-content .item-list ul li a {
  display:                    block;
  padding:                    4px;
  text-decoration:            none;
  background-color:           #f7f7f7;
}
.right .block-user .block-content .item-list ul li.alt a {
  background-color:           #fff;
}
.right .block-user .block-content .item-list ul li a:hover {
  background-color:           #e9e9e9;
}
.right .block .more-link {
  text-align:                 right;
}
.right .block .more-link a {
  background:                 url(../../images/bullet_triangle.png) 1px 4px no-repeat;
  padding-left:               9px; 
}


/**
 * =Menus
 */

.block .menu {
  padding:                    0 0 0 6px;
  font-size:                  11px;
  line-height:                1.0em;
  margin:                     0 0 1.0em;
/*  background-color:           #ececec; */
}
.block .menu, .block .menu ul {
  margin:                     0;
  list-style:                 none;
}
.block .menu ul {
  padding:                    3px 0;
  border-left:                1px solid #D0D9D9;
  border-bottom:              1px solid #D0D9D9;
}
.block .menu li {
  display:                    block;
  padding:                    3px 0 3px 10px;
  margin:                     0;
}
.block .menu li.expanded, .block .menu li.leaf, .block .menu li.collapsed {
  list-style-type:            none;
  list-style-image:           none;
}
.block .menu li.expanded {
  background:                 url(../../images/menu_expanded.png) 0px 3px no-repeat;
}                             
.block .menu li.leaf {               
  background:                 url(../../images/menu_leaf.png) 0px 3px no-repeat;
}                             
.block .menu li.collapsed {          
  background:                 url(../../images/menu_collapsed.png) 0px 3px no-repeat;
}                  
.block .menu li.expanded:hover {
  background-position:        -400px 3px ;
}                             
.block .menu li.leaf:hover {         
  background-position:        -400px 3px;
}                             
.block .menu li.collapsed:hover {    
  background-position:        -400px 3px;
}                             
.block .menu li a {                  
  color:                      rgb(51, 102, 204);
  display:                    block;
  padding:                    0;
  padding-left:               10px;
  margin:                     0;
  display:                    block;
  text-decoration:            none;
}                             
.block .menu li a.active {           
  font-weight:                bold;
}                             
.block .menu li a:hover {            
  text-decoration:            underline;
}


/**
 * =Content
 */

#content {
  color:                      #333;
  background-color:           #fff;
}
body.three-column #content {
  padding:                    0 1.8em;
}
body.two-column-right #content {
  padding:                    0 1.8em 0 1.0em;
}

/** Page title **/

h1.page-title {
  color:                      rgb(194, 5, 8);
  font:                       2.2em Arial, Helvetica, sans-serif;
  margin:                     0 0 14px;
  line-height:                1.0em;
  border-bottom:              1px solid #BE0101;
}
h1.page-title-withtabs {
  margin-bottom:              0.2em;
}

div.node {
  margin-bottom:              2.0em;
}

/** Node header **/

div.header .title {
  font:                       1.5em Arial, Helvetica, sans-serif;
  font-weight:                bold;
  line-height:                1.0em;
  margin:                     0.25em 0 6px;
  padding:                    0 0 2px 0;
  border-bottom:              1px solid #3579B2;
}
div.header .title, div.header .title a, div.header .title a:link {
  color:                      rgb(6, 82, 133);
  text-decoration:            none;
}
div.header .title a:hover {
  color:                      rgb(194, 5, 8);
  text-decoration:            underline;
}
.meta {
  margin-bottom:              16px;
  color:                      rgb(151, 151, 151);
}
.meta a {
  color:                      #444;
  text-decoration:            none;
}
.meta a:hover {
  text-decoration: underline;
}

/** Node Content **/

.read-more {
  text-align:                 right;
  font-style:                 italic;
}
.read-more a {
  text-decoration:            none;
}

/** Node Footer **/

div.footer {
  color:                      rgb(151, 151, 151);
  border-top:                 1px dotted rgb(151, 151, 151);
  padding-top:                4px;
  margin:                     1.0em 0 1.2em;
  font-size:                  0.8em;
}
div.footer a:link {
  padding:                    2px;
  color:                      rgb(190, 115, 77);
  font-weight:                normal;
}
div.footer a:hover {
  color:                      #fff;
  background-color:           rgb(153, 51, 51);
}


/**
 * =Previews
 */

/** Doubled for previewed comments since Drupal doesn't treat all previews alike! '**/
 
.preview, body.comment-new div.comment-new {
  padding:                    0;
  padding-bottom:             5px;
  border:                     2px solid #ef9c00;
  margin:                     0 0 4.0em 0;
  background:                 url(../../images/bg_preview.png) top left repeat #ffc;
}
.preview div.header, body.comment-new div.comment-new .comment-header {
  background-color:           #ff6;
  border-bottom:              1px solid #000;
  padding:                    8px 10px;
}
.preview div.header a:link, .preview div.header a:hover, body.comment-new div.comment-new .comment-header a:link, body.comment-new div.comment-new .comment-header a:hover {
  color:                      #000 !important;
  text-decoration:            none;
  cursor:                     default;
}
.preview div.header .meta, body.comment-new div.comment-new .comment-header .meta {
  color:                      #444;
}
.preview div.header .title, .preview div.header .meta, body.comment-new div.comment-new .comment-header .title, body.comment-new div.comment-new .comment-header .meta {
  margin:                     0;
  padding:                    0;
  border:                     none;
}
.preview .node a, .preview .node a:hover, body.comment-new div.comment-new .comment a, body.comment-new div.comment-new .comment a:hover {
  color:                      #000;
}
.preview div.content, body.comment-new div.comment-new .comment-content {
  padding:                    8px 10px 5px;
}


/**
 * =Comments
 */

/** Normal comments **/

.comment .title {
  padding:                    4px;
  margin:                     0 0 0 -4px;
  background-color:           #f7f7f7;
}
.comment a.comment-permalink {
  font-size:                  0.9em;
  color:                      #b8b8b8;  
  text-decoration:            none;
}
.comment .title:hover a.comment-permalink {
  color:                      rgb(194, 5, 8);
  text-decoration:            underline;
}
.comment .comment-content {
  line-height:                1.4em;
}
.comment-footer .links {
  font-size:                  0.9em;
}
.comment .comment-author, .comment .comment-author a {
  font-size:                  1.1em;
  color:                      purple;
}
.comment .comment-date {
  font-size:                  0.9em;
  color:                      #6b6b6b;
}
#comment-moderation-button {
  margin-top:                 2.0em;
  text-align:                 center;
}

/** New comments **/
div.comment-new .title {
  padding-right:              50px;
  background:                 url(../../images/bg_comment_new.png) 100% 0px no-repeat #f7f7f7;
}

/** Comment replies **/
body.comment-reply .box {
  margin:                     3.0em 0 0;
  padding:                    1.0em;
  border:                     1px solid rgb(144, 144, 144);
  background:                 url(../../images/bg_comment_reply.png) top left repeat #fff;
}
body.comment-reply .box .form-item .form-text, body.comment-reply .box .form-item textarea {
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-right-color: rgb(197, 197, 197);
  border-left-color: rgb(197, 197, 197);
  border-bottom-color: rgb(224, 224, 224);
  border-top-color: rgb(144, 144, 144);
  padding: 2px;
  margin: 1px;
}
body.comment-reply .box .form-item label, body.comment-reply .box .form-item span {
  font-size:                  0.9em;
}
body.comment-reply .box h2 {
  font-size:                  1.0em;
  margin:                     0;
  border-bottom:              1px solid #a8a8a8;
}
body.comment-reply .box .content {
  margin-top:                 0;
}


/**
 * =Pager
 */

#pager {
  text-align:                 center;
}
#pager a {
  text-decoration:            none;
  display:                    inline;
  margin:                     0 0.4em;
}
#pager a:hover {
  text-decoration:            underline;
}
.pager-detail {
  display:                    inline;
  margin:                     0 1.4em;
}
.pager-record-count, .pager-total {
  font-weight:                bold;
}

/**
 * =Tabs
 * =Local Tasks
 */

#local-tasks {
  margin:                     1.0em 0 1.2em;
}

/** Primary **/

ul.primary {
  padding:                    0 0 0 14px;
  white-space:                nowrap;
  list-style:                 none;
  margin:                     0 5px;
  height:                     auto;
  line-height:                19px;
  border-bottom:              1px solid rgb(120, 120, 120);
}
ul.primary li {
  display:                    inline;
}
ul.primary li a {
  font-size:                  12px;
  font-family:                'lucida grande', arial, sans-serif;
  color:                      rgb(120, 120, 120);
  line-height:                13px;
  text-decoration:            none;
  background-color:           #eee;
  border-color:               rgb(120, 120, 120);
  border-width:               1px;
  border-style:               solid solid none solid;
  margin-right:               -5px;
  padding:                    4px 18px 2px;
}
ul.primary li.active a {
  color:                      #121212;
  background-color:           #fff;
  border:                     1px rgb(120, 120, 120) solid;
  border-bottom-style:        dotted;
}
ul.primary li.active a:hover {
  cursor:                     default;
}
ul.primary li a:active, ul.primary li.active a:hover {
  color:                      #121212;
  background-color:           #fff;
}
ul.primary li a:hover {
  color:                      #fff;
  background-color:           #585858;
  border-color:               #787878;
  border-bottom-color:        rgb(120, 120, 120);
}

/** Secondary **/

ul.secondary {
  font-size:                  0.9em;
  padding:                    1.0em 0 0 14px;
  margin:                     0;
  line-height:                2.5em;
}
ul.secondary li {
  margin:                     0;
  display:                    inline;
}
ul.secondary a {
  border:                     1px solid #ccc;
  line-height:                14px;
  padding:                    4px 7px;
  text-decoration:            none;
  margin-bottom:              4px;
  background:                 url(../../images/bg_local_tasks_secondary.png) repeat-x 50% 0px;
}
ul.secondary a.active, ul.secondary a.active:hover {
  color:                      #333;
  font-weight:                bold;
  cursor:                     default;
  border:                     1px solid #fff;
  background-color:           #fff;
  background-image:           none;
}
ul.secondary a:hover, ul.secondary a:active {
  color:                      #f30;
  background-color:           #f7f7f7;
  border:                     1px solid #999;
}


/**
 * =Global Navigation
 */

#navigation {
  padding:                    0;
  margin:                     0;
}                               
.global-navigation {            
  text-align:                 left;
  padding:                    0;
  margin:                     0;
}                               
                                
/** Primary **/                 
                                
ul#global-primary {             
  list-style-type:            none;
  background:                 #fff url(../../images/bg_global_primary.png) repeat-x bottom left;
  padding-bottom:             18px;
  line-height:                2em;
}                               
ul#global-primary li {          
  display:                    inline;
}                             
ul#global-primary li a {
  padding:                    4px 1em;
  color:                      #787878;
  text-decoration:            none;
}                               
ul#global-primary li a:hover {  
  color:                      #fff;
  background:                 #444;
}                             

/** Secondary **/

ul#global-secondary {
  margin-top:                 -16px;
  padding-top:                0.4em;
  list-style-type:            none;
  font-size:                  0.9em;
  line-height:                1.2em;
}
ul#global-secondary li {
  display:                    inline;
}
ul#global-secondary li a {
  color:                      #666;
  padding:                    4px 1em;
  text-decoration:            none;
}
ul#global-secondary li a:hover {
  text-decoration:            underline;
  background-color:           transparent;
}



/**
 * =Search
 */
 
#header-search {
  text-align:                 right; /* IE gets confused about what "absolute" means */
  position:                   absolute;
  right:                      8px;
  top:                        16px;
  line-height:                16px;
}
#header-search h2 {
  display:                    inline;
  font-size:                  11px;
  color:                      #fff;
  font-family:                'Lucida Grande', arial, sans-serif;
  padding-right:              8px;
}
#header-search label {
  padding:                    2px 0;
}
#header-search label:hover {
  background-color:           transparent;
  text-decoration: underline;
}
#header-search input {
  font-size:                  11px;
}

/**
 * =Block Elements
 */

h2 {
  font-size:                  1.2em;
  margin-bottom:              0.2em;
  color:                      #1ea4d9;
}
p {
  padding:                    0;
  margin:                     0 0 0.8em 0;
}                             
pre {
  padding:                    0;
  width:                      99%;
  overflow:                   auto;
}

/** Hacker colors **/
div.content pre.code code {
  display:                    block;
  border:                     2px solid #222;
  color:                      #6f0;
  background:                 #222 url(../../images/bg_code.png) repeat;
  padding:                    5px;
}
div.content pre.code code a:link, div.content pre.code code a:visited, div.content pre.code code span {
  color:                      #cf9 !important; /* important needed for pre.codeviews */
}
div.content pre.code code a:hover {
  background-color:           #333;
}
blockquote {                  
  border:                     0 #ddd dashed;
  border-width:               1px 0;
  margin:                     0.5em 1.0em;
  padding:                    0.5em 0.3em;
}
img.screenshot {
  border:                     1px solid #565656;
  display:                    block;
  margin:                     2px;
}


/**
 * =Messages
 */

.messages {
  font-size:                  1.0em;
  line-height:                1.5em;
  color:                      #4c4c4c;
  margin-bottom:              1.0em;
}
.messages ul {
  margin:                     0;
  padding:                    0;
}
.messages ul li {
  list-style:                 none;
  margin:                     0;
  padding:                    3px 1px 3px 20px;
  background:                 url(../../images/icon_bullet_gray.png) no-repeat 4px 5px;
}
.messages .item-list, .item-list h3 {
  margin-top:                 0;
}
form .messages  {
  background-image:           none; 
}


/**
 * =Status
 */

.messages .status {
  background:                 url(../../images/bg_status.png) repeat;
  margin:                     0.8em 0;
  padding:                    12px;
  font-weight:                bold;
  border:                     2px solid #E1F2D8;
}  
.messages .status img.icon-status {
  float:                      left;
}
.messages .status .content {
  margin-left:                24px;
}


/**
 * =Description
 */

.description {
  font-size:                  0.9em;
  color:                      #555;
  font-variant:               italic;
  border-width:               1px 0;
  border-style:               dotted;
  border-color:               #999;
  margin:                     8px 0 16px;
  padding:                    4px 0;
}


/**
 * =Help
 */

#help { 
  cursor:                     help;
  background:                 url(../../images/bg_help.png) repeat;
  border:                     2px solid #ffff9e;
  padding:                    16px 24px 14px 16px;
  margin:                     0 0 1.2em;
  line-height:                1.5em;
}
#help img {
  float:                      left;
}
#help .content {
  margin-left:                24px;
}
#help .more-help-link {
  text-align:                 right;
}
#help a, #help a:visited {
  text-decoration:            none;
  color:                      #f00;
  padding:                    1px;
}
#help a:hover {
  color:                      #fff;
  background-color:           #f00;
}
.help-toggle {
  font-size:                  0.9em;
  text-align:                 right;
/*  margin:                     -10px 4px 4px; */
  margin:                     0 4px 4px;
  line-height:                0.9em;
}
.help-toggle img {
  vertical-align:             middle;
  padding:                    1px;
}
.help-toggle a.toggle-link {
  cursor:                     help;
}


/**
 * =Error
 */
.messages .error {
  background:                 url(../../images/bg_error.png);
  margin:                     0.8em 0;
  padding:                    12px;
  font-weight:                bold;
}
.messages .error a, .messages .errora:visited {
  text-decoration:            none;
  color:                      #BE0101;
  padding:                    1px;
}
.messages .error a:hover {
  color:                      #fff;
  background-color:           #d34340;
}
.messages .error img.icon-error {
  float:                      left;
}
.messages .error .content {
  margin-left:                24px;
}
.messages .error, .form-item input.error {
  border:                     2px solid #BE0101;
}
.form-item input.error {
  background-image:           none;
}    


/**
 * =Branding
 */

#branding {
  height:                     60px;
  width:                      100%;
  clear:                      both;
  background:                 url(../../images/bg_branding.png) repeat-x top left;
}
#branding a:hover {  
  background-color:           transparent; 
}
#site-name {
  margin:                     4px 0 0 4px;
  padding-top:                1.0em;
}
#logo  {
  padding:                    0.0em 0 0 8px;
  line-height:                60px;
  margin:                     0;
  font-weight:                normal;
}
#logo a, #logo a:hover {
  color:                      #fff;
}

/**
 * =Slogan
 */

#site-slogan { 
  color:                      #efefef;
  clear:                      right;
  float:                      right;
  margin:                     -1.5em 0 0 0;
  padding:                     0 8px 2px 0;
}
#site-slogan span {
  margin:                     0;
  padding:                    6px 6px 2px 170px;
}


/**
 * =Mission
 */

#mission {
  padding:                    0;
  margin:                     0 0 1.0em 0;
  width:                      100%;
  min-height:                 30px;
  border:                     1px solid #466A8D;
  border-right-color:         #5D8CBA;
  border-bottom-color:        #5D8CBA;
  background-color:           #69C;
  clear:                      both;
}  
#mission img.alignright {
  padding:                    0;
  margin:                     0 -1px 0 0;
}
#mission .content {
  font-weight:                bold;
  line-height:                1.4em;
  margin:                     0 0 8px 0;
  padding:                    0.8em;
  color:                      #fff;
}

/**
 * =Icons
 */

.icon {                       
  background-repeat:          no-repeat;
  background-position:        0% 50%; 
  padding:                    5px 0;
  padding-left:               20px; 
}
.icon-comment {
  background-image: url(../../images/icon_comment.png);
}
.toggle-button img {
  width:                      10px;
  height:                     10px;
}

/**
 * =Inline Elements
 */

q {
  quotes:                     "\201C" "\201D" "\2018" "\2019";
}
q:before {
  content:                    open-quote;
}
q:after {
  content:                    close-quote;
}
abbr[title], acronym[title] {
	border-bottom:              1px dotted #666;
	cursor:                     help;
	font-style:                 italic;
}
small {
  font-size:                  10px;
}
.ok {
  color:                      #080;
}
.path {
  padding-bottom:             0.7em;
  font-size:                  1.1em;
}


/**
 * =Links
 */

a {
  text-decoration:            underline; 
  padding:                    1px; 
}
a:link { 
  color:                      #065285; 
}
a:visited { 
  color:                      #10598A; 
}
a:hover { 
  color:                      #C20508; 
  text-decoration:            none;
}
a.toggle-link, a.toggle-link:visited {
  text-decoration:            none;
  color:                      #f00;
}
a.toggle-link:hover {
  color:                      #fff;
  background-color:           #f00;
}
.links .read-more {
  font-style:                 italic;
}
.cancel-link {
  margin-left:                8px;
  font-family:                verdana;
  font-size:                  11px; /* I rarely use pixel sizes, but this should be consistent */
}
.cancel-link a, .cancel-link a:visited {
  color:                      #f00;
  padding:                    1px;
}
.cancel-link a:hover {
  color:                      #fff;
  background-color:           #f00;
}
.more-link {
  text-align:                 right;
}


/**
 * =Profile
 */

.profile .picture {
  float:                      right;
  margin:                     0 0 7px 7px;
}
.profile .form-item {
  margin-bottom:              0.8em;
}
body.user-track .replies {
  text-align:                 center;
}

/**
 * =Breadcrumbs
 */
.breadcrumb-container {
  clear:                      both;
  text-align:                 left;
  padding:                    2.0em 0 12px;
  font-size:                  0.9em;
  margin:                     2em 0 0 8px;  
}
div.breadcrumb {
  display:                    inline;
}
.breadcrumb a {
  text-decoration:            none;
}
.breadcrumb a:link {
  color:                      rgb(51, 85, 136);
  border-bottom:              1px dotted rgb(51, 85, 136);
}
.breadcrumb a:visited {
  color:                      rgb(102, 119, 119);
  border-bottom:              1px dotted rgb(68, 102, 153);
}
.breadcrumb a:hover {
  border-bottom:              0;
  background-color:           rgb(153, 51, 51);
  color:                      #fff;
}
