/*
-----------------------------------------------
CivicSpace Labs print styles
-----------------------------------------------*/

body {
  background-color:           white;
  width:                      auto;
	border:                     0;
	margin:                     1em 5%;
	padding:                    0;
  font:                       small/150% Georgia, Times, Times New Roman, Serif;
  voice-family:               "\"}\""; voice-family: inherit;
  font-size:                  medium;
}
html>body {
  font-size:                  medium;
}
p {
  margin:                     0 0 1em 0;
}
#logo .alt-text {
  color:                      #787878;
  font-size:                  9pt;
  margin-bottom:              4em;
}
h1.site-title {
  font-size:                  14pt;
  margin-bottom:              2pt;
}
h1, h2, h3, h4 {
  line-height:                135%;
}
#mission {
  font-style:                 italic;
  border:                     1pt solid #333;
  background-color:           #e7e7e7;
  padding:                    12pt;
  margin:                     0 24pt 12pt;
}
.node-header .meta, .comment-header .meta {
  color:                      #666;
  margin-top:                 -0.5em 0 0.5em;
  font-size:                  10pt;
}
.node-header a, .comment-header a {
  color:                      #444;
  text-decoration:            none;
}
.node-content, .comment-content {
  text-align:                 justify;
}
a img {                       
  border-width:               0;
  border-style:               none;
}
form {
  margin:                     0;
}
table {
  border-collapse:            collapse;
  width: 100%;
}
th {
  text-align:                 left;
  color:                      #006;
  border-bottom:              1pt solid #666;
}
tr.dark {
  background-color:           #ddd;
}
tr.light {
  background-color:           #fff;
}
td {
  border-bottom:              1pt solid #ccc;
}
td, th {
  font-size:                  9pt;
  line-height:                120%;
  padding:                    3pt 6pt;
}
dl, dl dd {
  margin:0;
}
dl dt {
  margin-bottom:              0.5em;
}
dl dt.first {
  margin-bottom:              0;
}
.user-picture {
  float:                      right;
  margin:                     0 0 0.5em 0.5em;
  border:                     1pt solid #555;
  padding:                    2pt;
}


/**
 * =Links
 */

a:link, a:visited {
  color:                    #039;
  text-decoration:          none;
  background:               transparent;
  font-weight:              bold;
}
.node-content a:link:after, .node-content a:visited:after, .comment-content a:link:after, .comment-content a:visited:after {
  content:                  " (" attr(href) ") ";
  font-size:                90%;
}
/* stuff not to show */
/*
  To do: add class of navigation to all navigation elements to make it easier to hide
  To do: add no-print class
  To do: add classes to comment moderation so we can hide that ugly shee-it!
*/
.skiplink, 
#navigation-general,
#header-search,
#download,
#navigation,
#support_links, 
#main-nav, 
#div_column_left, 
.block-user,
#footer-syndicate,
#footer-about, 
#footer hr,
#div_column_right, 
#tabs,
.book .nav,
.links,
.one-column #div_column_left, 
.one-column #div_column_right, 
.backlink, 
.toplink,
.no-print,
#local-tasks {
  display:                  none !important;
}

.alt-text, .print-only {
  display:                  block !important;
}

